* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

main {
    margin-top: 5rem;
    text-align: center;
    width: 500px;
}

h1{
    font-size: 5rem;
}

p{
    margin: 1rem 0 3rem 0;
}

button {
    width: 20rem;
    padding: 10px;
}

h3{
    margin-top: 5rem;
}